@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: #2193b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #246469;
	padding-left: 20px;
	padding-right: 20px;

}
/* 
@media screen and (max-width: 700px) {
	.nav {
		display: none;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
} */

header input {
	background-color: #eee;
	border: none;
	border-radius: 3px;
	height: 1.5rem;
	outline: none;
}

header button {
	background-color: transparent;
	color: #eee;
	border: none;
	font-size: 1.5rem;
	margin-left: 10px;

}
.search_nav {
	display: flex;
	align-items: center;
}

.search_nav button {
	margin-left: 0px;
	background-color: #246469;
	border-radius: 5px;
}
.fav-search {
	/* size: 5px; */
}

.nav > button {
	font-size: large;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.section {
	padding-top: 50px;
	width: 98vw;
	min-height: 100vh;
	/* background-color: blue; */
}

.mobile-container {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	/* box-shadow: 0 0 10px red; */
	/* overflow: hidden; */
	width: inherit;
	/* height: 100vh */

	/* flex-wrap: wrap; */
}

/* .meals { //MEALS CONTAINER TO CHANGE WIDTH SIZE
    display: flex;
    justify-content: space-evenly;
    width: 80%;
} */

img {
	/* width: 30vh; */
	max-width: 100%;
}

.fav-container {
	/* display: grid; */
	/* flex-direction: column;
    justify-content: center;
    align-items: center; */
	background-color: #a8dce9;
	place-items: center;
}

.fav-meals {
	display: flex;
	flex-direction: row;
	max-width: 70vw;


	flex-wrap: wrap;
	justify-content: center;
	place-items: center;
	list-style-type: none;  
	overflow: visible;
	gap: 15px;

	text-overflow: break;

	/* align-items: center; */
}

.fav-meals li:hover {
	/* opacity: 75%; */
	/* filter: blur(1px); */
	transform: scale(1.1);
	/* overflow: visible; */
	/* cursor: pointer; */
	font-weight: bold;
	color: goldenrod;

	/* border-color: goldenrod; */
	/* background-color: rgba(218, 165, 32, 0.404); */
}

.fav-meals li img {
	/* position: absolute; */
	width: 75px;
	height: 75px;
	object-fit: cover;
	border-radius: 40%;
	border: 2px solid #ffffff;
	box-shadow: 0 0 10px 2px #ffb0b01a;
	overflow: visible;
}

.fav-meals li:hover img {
	/* opacity: 0%; */
	z-index: 1;
	filter: blur(0.5px);
}

.fav-meals li {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	place-items: center;
	max-width: 100px;
	border-radius: 10px;
	/* padding: 10px; */

	position: relative;
	/* background-color: rgba(255, 255, 255, 0.233); */
}

.fav-meals li span {
	position: relative;
	padding-top: 10px;
	place-self: center;
	font-size: 1rem;

	
	width: 100px;
	display: grid;
	place-items: center;
	/* max-width: fit-content; */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#browse_text {
	position: relative;
	font-size: 30px;
	/* margin-left: 200px; */
	z-index: 2;
	font-weight: bold; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	color: #2193b0;
	align-items: center;
}

#results {
	position: absolute;
	top: 40px;
	left: 50px;
	width: 100vw;
	font-size: 20px;
	color: grey;
}

#browse_text p {
	/* display: flex; */
	font-size: 20px;
	margin-right: 50%;
	color: grey;
	margin-top: 5%;
}

.del_btn {
	/* position: relative; */
	display: none;
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%, -50%);
	/* opacity: 50%; */
	background-color: transparent;
	border: none;
	/* color: white; */
}

.fav-meals li:hover .del_btn {
	display: block;
	position: absolute;
	opacity: 100%;
	font-size: medium;
	color: goldenrod;

	z-index: 2;

	cursor: pointer;
	transition: opacity 500ms;
	background-color: grey;
	border-radius: 20px;
}

#meals {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	border-radius: 10px;
	margin: 50px;
	box-shadow: 0 0 10px 2px #3333331a;

	/* grid-template-columns: repeat(auto-fit, clamp(10%, 30%, 50%)); */
	/* gap: 20px; */
	/* background-color: green; */
} 

/* #meals > * { */
	/* display: flex; */
	/* flex-basis: 100%; */
/* } */

.meal-container {
	display: flex;

	flex-direction: column;
	position: relative;
	/* max-height: 10%; */
	/* flex: 0 1 150px; */
	/* flex-basis: 100%; */
	margin: 10px;
	/* border: 5px solid pink; */
	border-radius: inherit;
	overflow: hidden;
}

.meal-container img {
	/* position: relative; */
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/* max-width: inherit; */
	height: 150px;
	/* height: clamp(10%, 10%, 10%); */
	object-fit: cover;
}
.randomBtn {
	padding: 10px;
	margin: 20px;
	color: white;
	font-size: 1.5rem;
	background-color: rgba(250, 128, 114, 0.625); 
	outline: transparent; 
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

.cntrBtn {
	display: flex;
	justify-content: center;
}

#first {
	display: flex; 
	align-items: center; 
	background-color: rgba(250, 128, 114, 0.625);
	border-radius: 20px;
	font-size: larger;
	padding: 10px;
	color: white;
}
#random {
    position: absolute;
	/* opacity: 50%; */
	font-size: 1.2rem;
	z-index: 2;
    background-color: white;
    border-bottom-right-radius: 10px;
	top: 0.5rem;
} 

.meal-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #a8dce98e;
	padding-left: 20px;
	padding-right: 20px;

	border-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fav-btn {
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	color: grey;
	cursor: pointer;
}
/* 
.meal-body .fav-btn:active {
    color: purple;
}     */
.meal-info-container {
	position: fixed;
	display: flex;
	justify-content:center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 3;
}
.meal-info {
	background-color: white;
	padding: 0 2rem;
	z-index: 4;
	border-radius: 5px;
	position: relative;
	max-width: 80%;
	display: flex;
	flex-direction:column;
	align-items:center;
	max-height: 90vh;
	overflow: scroll;
	
}

.meal-info h1 {
	text-align: center;

}

.meal-info img {
	max-width: 50vh;
	border-radius: 10px;
}

#close-popup {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	/* z-index: 7; */
	/* float: inline-end; */
}

.meal-info-container .hidden {
	opacity: 0;
	display: none;
	pointer-events: none;

	/* user-select: none; */
}

.tuple {
	margin: 0 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	/* border: 1px solid orange; */

}

.meal-info p {
	padding: 50px;
	font-size: 1.1rem;
	/* max-width: 75%; */
	background-color: rgba(128, 128, 128, 0.289);
	
}

#recipes_list {
	border: 1px solid orange;
}