@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #6dd5ed,
        #2193b0
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to left,
            #6dd5ed,
            #2193b0
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #246469;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
}

header button {
    background-color: transparent;
    color: #eee;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}
.nav > button {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobile-container {
    margin-top: 20px;
    margin-bottom: 20px;
  background-color: white;
  /* box-shadow: 0 0 10px red; */
  overflow: hidden;
  /* width: 50vh; */
  width: 98vw;
}

/* .meals { //MEALS CONTAINER TO CHANGE WIDTH SIZE
    display: flex;
    justify-content: space-evenly;
    width: 80%;
} */

img {
  /* width: 30vh; */
  max-width: 100%;
}

.fav-container {
    display: flex;
    background-color: #a8dce9;
    justify-content: center;
    flex-direction: column;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    list-style-type: none;
    /* align-items: center; */
}

.fav-meals li img:hover {
    /* opacity: 75%; */
    filter: blur(1px);

}

.fav-meals li img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px #ffb0b01a;
}

.fav-meals li {
    width: 85px;
}

.fav-meals li span {
    font-size: 0.9rem;
}

.COMMENT_meals {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 50px;
    /* border: 30px solid purple; */
    border: 30px;
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 0 0 10px 2px #3333331a;
    /* background-color: grey; */
}#meals {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 150px));
    justify-content: center;
    gap: 15px;
    margin: 50px;
    /* border: 3px solid black; */
    border-radius: 10px;
    overflow: visible;
    box-shadow: 0 0 10px 2px #3333331a;
    /* background-color: grey; */
}

.meals-container {
    display: flex;
    
}

.meal-container {
    display: flex;
    flex-direction: column;
    /* max-height: 10%; */
    flex: 0 1 150px;
    /* flex-basis: 100%; */
    margin: 10px;
    /* border: 5px solid pink; */
    border-radius: inherit;
    overflow: scroll;

}

.meal-container img {
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* max-width: inherit; */
    /* max-height: fit-content; */
    /* object-fit: scale-down; */
}

/* .meal-img-container .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    border-bottom-right-radius: 10px;
} */

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a8dce98e;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
}
/* 
.meal-body .fav-btn:active {
    color: purple;
}     */
